################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Simon/bin/
Simon/obj/
Simon/.vs/
/Simon/.vs/Simon/v15/Server/sqlite3/db.lock

*.ide-wal
